<?xml version="1.0" ?>
<robot name="dual_gp12_rail" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find motoman_gp12_support)/urdf/gp12_macro.xacro" />

  <!-- Instantiate both robots -->
  <xacro:motoman_gp12 prefix="group_1/"/>
  <xacro:motoman_gp12 prefix="group_2/"/>

  <!-- World frame -->
  <link name="world"/>

  <!-- Rail size and robot 1 position variables -->
  <xacro:property name="rail_length" value="4.0"/>
  <xacro:property name="rail_width" value="0.5"/>
  <xacro:property name="rail_height" value="0.25"/>
  <xacro:property name="world_to_rail_offset" value="${rail_length+0.5}"/>
  <xacro:property name="target_model_scale" value="1.0"/>

  <!-- Rail for Robot 1 -->
  <link name="rail">
    <visual>
      <geometry>
        <box size="${rail_length} ${rail_width} ${rail_height}"/>
      </geometry>
      <origin xyz="0.0 0.0 ${rail_height/2}" rpy="0 0 0"/>
      <material name="rail_grey">
        <color rgba="0.5 0.5 0.5 0.5"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="${rail_length} ${rail_width} ${rail_height}"/>
      </geometry>
      <origin xyz="0.0 0.0 ${rail_height/2}" rpy="0 0 0"/>
    </collision>
  </link>

  <joint name="world_to_rail" type="fixed">
    <parent link="world"/>
    <child link="rail"/>
    <origin xyz="${world_to_rail_offset} 0 0" rpy="0 0 3.14159"/>
  </joint>

  <joint name="rail_joint" type="prismatic">
    <parent link="rail"/>
    <child link="group_1/base_link"/>
    <origin xyz="0 0 ${rail_height}" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="${-rail_length/2}" upper="${rail_length/2}" effort="1000.0" velocity="1.0"/>
  </joint>

  <!-- Robot 2 at world origin -->
  <joint name="world_to_robot2" type="fixed">
    <parent link="world"/>
    <child link="group_2/base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Target mounted on Robot 2. NOTE TODO: can be moved to external reusable xacro-->
  <link name="group_2/target">
    <visual>
      <geometry>
        <mesh filename="package://cosmica_resources/meshes/Itokawa_Hayabusa_200k_poly.stl" scale="${target_model_scale} ${target_model_scale} ${target_model_scale}"/>
      </geometry>
      <material name="target_grey">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
      <origin xyz="0.0 0.0 0.25" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://cosmica_resources/meshes/Itokawa_Hayabusa_200k_poly.stl" scale="${target_model_scale} ${target_model_scale} ${target_model_scale}"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </collision>
  </link>

<!-- Define joint from tool0 to link target-->
  <joint name="group_2/tool0_to_target" type="fixed">
    <parent link="group_2/tool0"/>
    <child link="group_2/target"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>  <!-- offset from tool0 -->
  </joint>

</robot>