<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="motoman_gp12_dual">
    <xacro:arg name="config_file" default="$(find motoman_gp12_dual_cell_support)/config/gp12_dual_cell.yaml" />
    <xacro:arg name="cell_mode" default="rail" />
    <xacro:arg name="attach_target" default="true" />

    <xacro:include filename="$(find motoman_gp12_dual_cell_support)/urdf/gp12_dual_cell.xacro" />
</robot>
